.tab-var {
  background-color: #dcdcdc;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-top: solid #dcdcdc 1px;
  padding: 10px 30px 5px 30px;
}

.tab-var .tab-var__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 24px;
  color: grey;
  transition: transform 0.2s linear;
}

.tab-var .tab-var__tab:hover {
  transform: scale(1.1);
}

.tab-var .tab-var__tab--selected {
  color: #3b1f1e;
}
.tab-var .tab-var__tab .tab-var__title {
  font-size: 10px;
}
.tab-var .tab-var__tab span {
  margin-top: 5px;
}
