.top-header--transparent {
  background-color: transparent;
}

.profile .profile__header {
  height: 70vh;
  width: 100%;
  background-image: url("https://www.setaswall.com/wp-content/uploads/2017/10/Material-Design-Wallpaper-1080x1920.jpg");
  position: relative;
  background-size: 100%;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.profile .profile__header img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.profile__header .profile__header-container {
  text-align: center;
  position: relative;
  bottom: -40px;
}

.profile__header .profile__header-container h3 {
  font-weight: 600;
  position: relative;
  bottom: -10px;
}

.profile .profile__main-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  height: 10vh;
}

.profile .profile__main-container .profile__actions {
  display: flex;
  margin-top: 25px;
}

.profile__actions .profile__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.profile__action .profile__action-title {
  font-size: 12px;
  margin-top: 15px;
}

.profile__action .profile__action-circle {
  background-color: #ededed;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.profile__main-container input {
  padding: 3px;
}
