@import "reset.css";
@import "header.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "global.css";
@import "navigation.css";
@import "search-bar.css";
@import "friends.css";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo");
@import "chats.css";
@import "find.css";
@import "more.css";
@import "profile.css";
@import "chat.css";
@import "mobile.css";
@import "bigScreen.css";
